body {
    background-color: #2b0209; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;  
    background-color: #4A0028;
    padding: 20px;             
    width: 1152px;              
    height: 700px;              
    box-sizing: border-box;   
  
}

.orange-container {
    background-color: #ff9100;
    width: 468px;             
    height: 160px;             
    border-radius: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;      
    padding: 10px;             
    box-sizing: border-box;   
}


.orange-container2 {
    background-color: #ff9100;
    width: 468px;             
    height: 160px;             
    border-radius: 20px;
    display: flex;
    justify-content: flex-start; 
    align-items: flex-end;
    margin-bottom: 20px;       
    padding: 10px;             
    box-sizing: border-box;      
}


.orange-container3 {
    background-color: #ff9100;
    width: 468px;              
    height: 160px;            
    border-radius: 20px;
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;
    margin-bottom: 20px;       
    padding: 10px;            
    box-sizing: border-box;    
}

.red-box {
    background-color: #A00;
    width: 78px;
    height: 78px;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 5px;
}


.red-box2 {
    background-color: rgb(243, 189, 13);
    width: 78px;
    height: 78px;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 3px;
}

.red-box3 {
    background-color: rgb(224, 47, 47); 
    width: 78px;
    height: 78px;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 6px;
}